$yellow-1: #FFDB80;
$yellow-2: #FDBFA3;
$white: #FFFFFF;
$purple-1: #6D31D0;
$purple-2: #828CDE;
$grey: #434364;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$fz-36: 36px;
$fz-28: 28px;
$fz-20: 20px;
$fz-16: 16px;

$lh-40: 40px;
$lh-32: 32px;
$lh-24: 24px;
$lh-22: 22px;
