@import '../../../styles/main.scss';

.footer {
        padding: 37px 72px 43px 0;
        display: flex;
        justify-content: flex-end;
        background: $purple-2;
        color: $white !important;

    &__menu {
        margin-right: 10%;
        display: flex;
        max-width: 572px;
        min-width: 569px;

        & li:first-child {
            padding-right: 7px;
        }

        & li:nth-child(2){
            padding: 0 7px;
        }

        & li:last-child {
            padding-left: 7px;
        }
    }

    &__responsive {
        display: none;
        text-align: center;

        &-tablet {
            display: none;
        }

        &-mobile {
            display: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .footer {

        &__menu {
            margin-right: 5%;
        }
    }
}

@media screen and (max-width: 920px) {
    .footer {
        padding: 40px 0;
        align-items: center;
        flex-direction: column;

        &__menu {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__menu {
            display: none;
        }

        &__rights {
            margin-bottom: 9px;
            font-weight: $fw-500;
        }

        &__responsive {
            display: block;

            &-tablet {
                margin-bottom: 5px;
                display: block;
                
                & span:first-child {
                    padding-right: 10px;
                }

                & span:last-child {
                    padding-left: 10px;
                }
            }
        }
    }
}

  @media screen and (max-width: 480px) {
    .footer {
        padding: 10px 0 14px 0;

        &__responsive {

            &-tablet {
                display: none;
            }

            &-mobile {
                display: block;
                margin-top: 10px;
                margin-bottom: 26px;

                & div:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}